ul {
    list-style: none;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

p {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 400;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;

    @media screen and (min-width: 480px) {
        width: 480px;
        outline: 1px solid black;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

#search-input {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    padding-left: 10px;
}

.load-more {
    background-color: rgb(86, 86, 86);
    color: white;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(44, 44, 44);
    margin: 0 auto;
    display: block;
}